section#secao1 {
    background-image: url(image/imagempraia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;

}

section#secao1 .chamada {
    max-width: 695px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    color: #fff;
}

section#secao1 h1 {
    font-size: 48px;
    color: #fff;
    font-weight: 400;
    font-family: 'Source Sans Pro';
}

section#secao1 p {

    font-size: 22px;
    font-weight: 300;
    font-family: 'Source Sans Pro';
    color: rgba(255, 255, 255, 0.9);
    padding-left: 20px;
}

section#secao1 button {
    font-family: 'Source Sans Pro';
    background-color: #fd5c63;
    display: block;
    width: 267px;
    margin: 0 auto;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    text-align: center;
    border: none;
}
